body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

nav ul li .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav ul li .dropdown-content a:hover {
    background-color: #575757;
}

nav ul li:hover .dropdown-content {
    display: block;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
    flex: 1;
    padding: 20px;
}

.sidebar {
    background-color: #f4f4f4;
}

main {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 20px;
}

.movie {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.movie img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.movie img.zoomed {
    transform: scale(2.5);
}

.movie-details {
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

#searchInput, #genreSelect, #sortSelect {
    margin: 10px 0;
    padding: 5px;
    width: calc(100% - 10px); 
    box-sizing: border-box; 
}
.login-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.login-button:hover {
    background-color: #0056b3;
}

